<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ltthuc.habit">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".HabitApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.TestActivity"
            android:label="@string/title_activity_test"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" />
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />
        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.accountkit.ui.AccountKitActivity"
            android:theme="@style/Theme.AccountKit"
            tools:replace="android:theme" />
        <activity
            android:name=".ui.activity.feed.FeedActivity"
            android:theme="@style/DailyFeedAppTheme.Dark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ltthuc.habit.ui.activity.category.CategoryActivity"
            android:label="@string/app_name"

            android:theme="@style/DiscoverFeedAppTheme.Dark"

            android:windowSoftInputMode="adjustResize"

            />

        <activity
            android:name="com.ltthuc.habit.ui.activity.categorydetail.CategoryDetailActivity"
            android:label="@string/app_name"

            android:theme="@style/TagFeedAppTheme.Dark"

            android:windowSoftInputMode="adjustResize"

            />

        <activity
            android:name="com.ltthuc.habit.ui.activity.viewer.ViewerActivity"
            android:label="@string/app_name"

            android:theme="@style/TagFeedAppTheme.Dark"

            android:windowSoftInputMode="adjustResize"

            />
        <activity
            android:name="com.ltthuc.habit.ui.activity.ytDetail.YtDetailActivity"
            android:label="@string/app_name"

            android:theme="@style/TagFeedAppTheme.Dark"
            android:windowSoftInputMode="adjustResize"

            />

        <activity android:name=".ui.activity.webview.WebViewActivity"/>


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>