<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name="com.applifehack.knowledge.KnowledgeApp"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:grantUriPermissions="true"
            android:authorities="${applicationId}.provider"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher_round" />

        <meta-data android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/notification_channel_id" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" />
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />
        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <activity android:name="com.applifehack.knowledge.ui.activity.RSSActivity"/>
        <activity android:name="com.applifehack.knowledge.ui.admin.manualpost.ManualPostActivity"/>
        <activity android:name="com.applifehack.knowledge.ui.admin.rssposts.RssListPostActivity"/>
        <activity android:name=".ui.admin.localpost.LocalPostActivity"/>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.accountkit.ui.AccountKitActivity"
            android:theme="@style/Theme.AccountKit"
            tools:replace="android:theme" />
        <activity
            android:exported = "true"
            android:name="com.applifehack.knowledge.ui.activity.splash.SplashActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="com.applifehack.knowledge.data.firebase.MyFirebaseMessagingService"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <activity
            android:name="com.applifehack.knowledge.ui.activity.viewer.ViewerActivity"
            android:label="@string/app_name"

            android:theme="@style/AppTheme"

            android:windowSoftInputMode="adjustResize"

            />
        <activity
            android:name="com.applifehack.knowledge.ui.activity.ytDetail.YtDetailActivity"
            android:label="@string/app_name"

            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"

            />
        <activity
            android:name="com.applifehack.knowledge.ui.activity.quotes.QuotesActivity"
            android:theme="@style/AppTheme"

            />
        <activity
            android:exported = "true"
            android:name="com.applifehack.knowledge.ui.activity.home.HomeActivity"
            android:theme="@style/AppTheme"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http" android:host="applifehack.com"/>
                <data android:scheme="https" android:host="applifehack.com"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.applifehack.knowledge.ui.activity.setting.SettingActivity"
            android:theme="@style/AppTheme"

            />
        <activity
            android:name="com.applifehack.knowledge.ui.activity.categorydetail.CategoryDetailFrag"
            android:theme="@style/AppTheme"

            />

        <activity android:name="com.applifehack.knowledge.ui.activity.webview.WebViewActivity"/>

        <activity android:name=".ui.activity.dynamiclink.DynamicLinkActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.admin.mirgrate.MirgrateActivity"
            android:screenOrientation="portrait"
            />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>